@model WebExercise04.Models.TeachersList

@{
    ViewBag.Title = "List_Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-home-page body-content">
    @foreach (var n in Model.Teachers)
    {
        <div class="card_box">
            <div class="card_box_img">
                <img style="height:140px;width:100px" />
            </div>
            <div class="card_box_content">
                <span class="card_box_content_span">姓名：@n.Name</span>
                <span class="card_box_content_span">职称：@n.Title</span>
                <span class="card_box_content_span">电话：@n.Tell</span>
                <span class="card_box_content_span">E_Mail:@n.E_Mail</span>
                <span class="card_box_content_span">研究方向：@n.Direction</span>
             </div>
        </div>
        <div class="resume_box">
            <div class="resume_box_head_div">
                <span class="resume_box_head_css">个人简历</span>
            </div>
            <div class="resume_box_content_div">
                @n.Resume
            </div>
        </div>
    }
</div>