@model WebExercise04.Models.ResearchNewsList

@{
    ViewBag.Title = "List_Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-home-page body-content">
    @foreach (var n in Model.ResearchNews)
    {
        <div class="SingleList_Title">
            @n.Title
        </div>
        <div class="SingleList_Content">
            @n.Content
        </div>
        <div class="SingleList_Return">
            <span>@Html.ActionLink("所有动态", "List_All", "ResearchNews")</span>
        </div>
    }
</div>
