@model WebExercise04.Models.InformList

@foreach (var n in Model.Informs)
{
    <div class="tabList_PriefItem">
        <span>@Html.ActionLink("[" + n.Time + "]" + n.Title + "", "List_Single", "Inform", new { informID = n.ID },null)</span>
    </div>
}
<div class="tabList_PriefItem_more">
    <div class="tabList_PriefItem_more_div">
        <span>@Html.ActionLink("More", "List_All", "Inform")</span>
    </div>
</div>