@model WebExercise04.Models.InformList

@{
    ViewBag.Title = "List_All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-home-page body-content">
    <div class="AllList_Title">
        <p>通知公告</p>
    </div>
    @foreach (var n in Model.Informs)
    {
        <div class="AllList_Item">
            @Html.ActionLink("[" + n.Time + "]" + n.Title + "", "List_Single", "Inform", new { informID =n.ID},null)
        </div>
    }

    <div class="pager">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("List_All", new { page = x }))
    </div>
</div>