@model WebExercise04.Models.ActivitiesList

@{
    ViewBag.Title = "List_Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-home-page body-content">
    @foreach (var n in Model.Activities)
    {
        <div class="SingleList_Title">
            @n.Title
        </div>
        <div class="SingleList_Content">
            @n.Content
        </div>
        <div class="SingleList_Return">
            <span>@Html.ActionLink("所有公告", "List_All", "Activities")</span>
        </div>
    }
</div>
